---
import { CldImage } from "astro-cloudinary";
import { getImages } from "../../clients/cached-requests";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const { id } = Astro.params;

const assets = await getImages();
const currIndex = assets.resources.findIndex((el) => el.public_id === id);
const item = assets.resources[currIndex];
const prev = assets.resources[currIndex - 1] ?? assets.resources.at(-1);
const next = assets.resources[currIndex + 1] ?? assets.resources.at(0);
---

<Layout title="Chez Superdad">
  <div>
    <a href={`/single/${prev?.public_id}`}>Prev</a>
  </div>
  <div>
    <a href={`/single/${next?.public_id}`}>Next</a>
  </div>
  <main>
    {
      id && item ? (
        <CldImage
          src={id}
          width={+item.width}
          height={+item.height}
          alt={item.display_name}
          sizes="100vw"
          transition:name={id}
        />
      ) : (
        <div>Some param broken</div>
      )
    }
  </main>
</Layout>
