---
import { CldImage, CldUploadWidget } from "astro-cloudinary";
import ImageFrame from "../components/ImageFrame.astro";
import ImageGrid from "../components/ImageGrid.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Intro from "../components/Intro.astro";
import { getImages } from "../clients/cached-requests";

export const prerender = false;

const assets = await getImages();
---

<Layout title="Chez Superdad">
  <main>
    <Intro />
    <Container>
      <h1>Chez <span class="text-gradient">Superdad</span></h1>

      <CldUploadWidget
        uploadPreset="vincelebration-user-upload"
        id="upload-events"
      >
        <button>Upload</button>
      </CldUploadWidget>

      <script>
        const widget = document.querySelector("#upload-events");

        if (widget) {
          widget.addEventListener("clduploadwidget:success", ((
            e: CustomEvent<{ detail: object }>
          ) => {
            console.log("clduploadwidget:success", e.detail);
          }) as EventListener);
        }
      </script>

      <ImageGrid>
        {
          assets.resources.map(({ width, height, public_id, display_name }) => (
            <ImageFrame
              wide={width / height > 1.6}
              href={`/single/${public_id}`}
            >
              <CldImage
                src={public_id}
                width={width}
                height={height}
                alt={display_name}
                sizes="100vw"
                transition:name={public_id}
              />
            </ImageFrame>
          ))
        }
      </ImageGrid>
    </Container>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
