---
import { CldImage, CldUploadWidget } from "astro-cloudinary";
import { getImages } from "../clients/cached-requests";
import { Button } from "@/components/ui/button";
import ImageGrid from "@/components/ImageGrid.astro";
import ImageFrame from "@/components/ImageFrame.astro";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Intro from "@/components/Intro.astro";
import { Image } from "astro:assets";

export const prerender = false;

const assets = await getImages();
---

<Layout title="Vincelebration">
  <main>
    <Hero />
    <Intro />
    <Container>
      <div class="flex justify-center mb-8">
        <CldUploadWidget
          uploadPreset="vincelebration-user-upload"
          id="upload-events"
        >
          <Button>Upload</Button>
        </CldUploadWidget>
      </div>

      <script>
        const widget = document.querySelector("#upload-events");

        if (widget) {
          widget.addEventListener("clduploadwidget:success", ((
            e: CustomEvent<{ detail: object }>
          ) => {
            console.log("clduploadwidget:success", e.detail);
            fetch("/api/cache/imgs", { method: "DELETE" }).then().catch();
          }) as EventListener);
        }
      </script>

      <ImageGrid>
        {
          assets.resources.map(
            ({ width, height, public_id, display_name, resource_type }) => (
              <ImageFrame
                wide={width / height > 1.6}
                href={`/single/${public_id}`}
                isVideo={resource_type === "video"}
              >
                {resource_type === "image" ? (
                  <CldImage
                    src={public_id}
                    width={width}
                    height={height}
                    alt={display_name}
                    sizes="100vw"
                    transition:name={public_id}
                  />
                ) : (
                  <Image
                    src="https://res.cloudinary.com/dsdhp362q/video/upload/videoplayback_srs9oe.jpg?_a=BAMCkGJu0"
                    width={width}
                    height={height}
                    alt={display_name}
                  />
                )}
              </ImageFrame>
            )
          )
        }
      </ImageGrid>
    </Container>
  </main>
</Layout>
