---
import { CldImage } from "astro-cloudinary";
import { getImages } from "../clients/cached-requests";
import { Button } from "@/components/ui/button";
import ImageFrame from "@/components/ImageFrame.astro";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Intro from "@/components/Intro.astro";
import { Image } from "astro:assets";
import { cloudinary } from "@/clients/cloudinary";
import WidgetLoader from "@/components/WidgetLoader.astro";
import { ImageGrid } from "@/components/ui/image-grid";
import FixedNav from "@/components/FixedNav.astro";

export const prerender = false;

const assets = await getImages();
---

<Layout title="Vincelebration">
  <main>
    <Hero />
    <Intro />
    <Container>
      <div class="flex justify-center mb-8">
        <WidgetLoader
          uploadPreset="vincelebration-user-upload"
          id="upload-events"
        >
          <Button>Upload</Button>
        </WidgetLoader>
      </div>

      <script>
        const widget = document.querySelector("#upload-events");

        if (widget) {
          widget.addEventListener("clduploadwidget:success", ((
            e: CustomEvent<{ detail: object }>
          ) => {
            console.log("clduploadwidget:success", e.detail);
            fetch("/api/cache/imgs", { method: "DELETE" }).then().catch();
          }) as EventListener);
        }
      </script>

      <div class="pb-16">
        <ImageGrid client:only>
          {
            assets.resources.map(
              ({ width, height, public_id, display_name, resource_type }) => (
                <ImageFrame
                  wide={width / height > 1.6}
                  href={`/single/${public_id}`}
                  isVideo={resource_type === "video"}
                >
                  {resource_type === "image" ? (
                    <CldImage
                      src={public_id}
                      width={width}
                      height={height}
                      alt={display_name}
                      sizes="100vw"
                      transition:name={public_id}
                    />
                  ) : (
                    <Image
                      src={cloudinary.utils.video_thumbnail_url(public_id)}
                      width={width}
                      height={height}
                      alt={display_name}
                    />
                  )}
                </ImageFrame>
              )
            )
          }
        </ImageGrid>
      </div>
    </Container>
  </main>
  <FixedNav />
</Layout>
